<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Study Group</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
    <header id="header">
        WebSync
    </header> 
    <p>Welcome User!</p>
    <nav class="bigbox">
        <div class="top-row">
            <div class="box" th:attr="onclick=${'window.location.href=''/'''}">
                <span><ion-icon name="home-outline"></ion-icon></span>
            </div>
            <div class="box" th:attr="onclick=${'window.location.href=''/messages'''}">
                <span><ion-icon name="chatbox-ellipses-outline"></ion-icon></span>
            </div>
        </div>
        <div class="bottom-row">
            <div class="box" th:attr="onclick=${'window.location.href=''/calls'''}">
                <span><ion-icon name="call-outline"></ion-icon></span>
            </div>
            <div class="box" th:attr="onclick=${'window.location.href=''/documents'''}">
                <span><ion-icon name="document-text-outline"></ion-icon></span>
            </div>
        </div>
    </nav>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>
